<div class="dashboard">
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">Top sellers</div>
        <div class="panel-body">
          <div class="chart-container">
            <canvas id="line" class="chart chart-line" chart-data="dataSells"
                    chart-labels="labelsSells" chart-legend="true" chart-series="seriesSells">
            </canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">Top clients</div>
        <div class="panel-body">
          <div class="chart-container">
            <canvas id="bar" class="chart chart-bar" chart-data="dataClients"
                    chart-labels="labelsClients" chart-legend="true" chart-series="seriesClients">
            </canvas>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <h2>Top Users</h2>
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="topUser in topUsers">
          {{topUser.name}} {{topUser.surname }}
        </li>
      </ul>
    </div>
    <div class="col-md-4">
      <h2>Administrators Connexion</h2>
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="administrator in administratorsConnections">
          {{administrator.name}} {{administrator.surname }} - {{administrator.lastConnection}}
        </li>
      </ul>
    </div>
    <div class="col-md-4">
      <h2>Top Products</h2>
      <li class="list-group-item" ng-repeat="topProduct in topProducts">
        {{topProduct.name}}
      </li>
    </div>
  </div>
  <br><br>
</div>
