<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="row">
  <div class="carousel">
    <uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
      <uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
        <img ng-src="{{slide.image}}" style="margin:auto;">
        <div class="carousel-caption">
          <h4>Slide {{slide.id}}</h4>
          <p>{{slide.text}}</p>
        </div>
      </uib-slide>
    </uib-carousel>
  </div>
</div>
<div class="row">
  <!-- Example row of columns -->
  <div class="row home-boxes">
    <div class="col-md-4">
      <h2>News</h2>
      <img class="layer" src="{{imgNews}}"/>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Offers</h2>
      <img class="layer" src="{{imgOffers}}"/>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Top sales</h2>
      <img class="layer" src="{{imgTopSales}}"/>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div>
  </div>
</div>

